doctype html 
html(lang="ko")
    head
        title Clip and Share
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 Clip and Share 
            small ALL DATA IS ENCRYPTED
            h2
                nav 
                    ul 
                        li 
                            a(href="/") 보내기
                        li
                            a(href="/catch") 가져오기
        main
            block content
            footer &copy 2022 JunHyeok Lee
    